<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<p><a href="{% url 'social:create_post' %}">ایجاد پست جدید</a></p>
<div>
     <table style="width: 80%; border: 2px solid black; text-align: right; direction: rtl">
        <tr>
            <th>ردیف</th>
            <th>پست</th>
            <th>مشاهده</th>
            <td>تگ ها</td>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ post.author }}</td>
                <td><a href="{{ post.get_absolute_url }}">{{ post.description|truncatewords:4 }}</a></td>
                <td>{{ post.tags.all }}</td>
                <td><a href="{% url 'social:edit_post' post.id %}">ویرایش</a></td>
                <td><a href="{% url 'social:delete_post' post.id %}">حذف</a></td>


            </tr>
        {% endfor %}
    </table>
</div>

    <div>
    <a href="{% url 'social:user_edit' %}" >تغییر اطلاعات</a>
    <br>
    <br>
    <a href="{% url "social:password_change" %}"> تغییر پسورد </a>
    <br>
    <br>
    <a href="{% url 'social:logout' %}">خروج</a>
    </div>

<div>
    <h2>پست های سیو شده توسط شما</h2>
    <ul>
<div id="post-list">
{% for post_s in saved_posts %}
    <div>
    {% if post_s.images.exists %}
        {% if post_s.images.count > 1 %}
            {% for img in post_s.images.all %}
                {% if img.image_field %}  <!-- بررسی وجود فایل تصویر -->
                    <img width="300px" height="200px" src="{{ img.image_field.url }}" alt="{{ img.title }}">
                {% endif %}
            {% endfor %}
        {% else %}
            {% with post_s.images.first as img %}
                {% if img.image_field %}  <!-- بررسی وجود فایل تصویر -->
                    <img width="300px" height="200px" src="{{ img.image_field.url }}" alt="{{ img.title }}">
                {% endif %}
            {% endwith %}
        {% endif %}
    {% else %}  <!-- اگر عکسی وجود ندارد -->
        <p>No images available.!!</p>
    {% endif %}
    </div>
    <a href="{{ post_s.get_absolute_url }}">
    {{ post_s.description|truncatewords:20|linebreaks }}
    </a>
    Published as {{ post_s.created }} by {{ post_s.author }}
    <br>
    <br>
    <hr>

{% endfor %}
</div> {# end load posts #}
    </ul>
</div>

</body>
</html>