<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Search</title>
</head>
<body>
    {% include 'partials/header.html' %}
    <br>

    {% if query %}
        <hr>
        نتیجه جستجو برای {{ query }} : {{ tag_results.count|add:post_results.count }}
        <hr>
    {% endif %}
    <br>
    {% for post_result in tag_results %}
        <a href="{{ post_result.get_absolute_url }}">{{ post_result.description|truncatewords:10 }}... ({{ post_result.author }})</a>
        <br>
        <br>
        <br>
    {% endfor %}

    {% for post in post_results %}
        <a href="{{ post.get_absolute_url }}">{{ post.description|truncatewords:10 }}... ({{ post.author }})</a>
        <br>
        <br>
        <br>
    {% endfor %}
    {% if tag_results == False and post_results == False %}
        هیچ نتیجه ای یافت نشد !
    {% endif %}

</body>
</html>